.navBar {

    display: flex;
    flex-direction: column;

    border: 1px solid black;
    padding: 1rem;
    box-sizing: border-box;

    width: 240px; //Ancho típico de una barra de navegación
    height: 75vh; //Altura completa de la ventana del navegador


    .actionButton {
        display: flex;
        flex-direction: column;
        columns: 1;

        padding: 1rem;
        gap: 2rem;



        #users-btn {
            background-color: #f3f4f6;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
        }

        #users-btn:hover {
            background-color: rgb(146, 151, 153);
            color: white;
            font-size: 1rem;
        }

        #resources-btn {
            background-color: #f3f4f6;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        #resources-btn:hover {
            background-color: rgb(146, 151, 153);
            color: white;
            font-size: 1rem;
        }
    }

    .logOut {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        padding: 1rem;

        #logout-btn {

            display: inline-block;
            background-color: rgb(184, 29, 29);
            border-radius: 999px;
            border: none;
            padding: 0.75rem 1.2rem;
            cursor: pointer;
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
            width: auto;
            transition: background-color 0.3s, transform 0.2s;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);


            &:hover {
                background-color: rgb(220, 53, 69);
                transform: scaleX(0.55); // se “estrecha” suavemente
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            }

            &:active {
                transform: translateY(0);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            }
        }
    }
}