.dashboard-layout {
    display: flex;
    gap: 1rem;

    .nav-bar {
        width: 200px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        .main-content app-list-component {
            width: 100%;
            max-width: 800px;
        }

        .main-content app-pagination-component {
            margin-top: 1rem;
        }
    }
}