.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;


    button {
        background-color: #000000;
        color: white;
        border: none;
        padding: 0.25rem 1.5rem;
        cursor: pointer;
        font-size: 0.9rem;
        transition: background-color 0.2s, transform 0.1s;

        &:hover {
            background-color: #595959;
            color: white;
            transform: translateY(-1px);
        }

        &:disabled {
            background-color: #f3f4f6;
            cursor: not-allowed;
        }
    }

    span {
        font-size: 0.9rem;

    }
}