.edit-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

    .modal-card {
        background: #fff;
        padding: 2rem;
        border-radius: 12px;
        width: 400px;
        max-width: 90%;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        
        form {
            display: flex;
            flex-direction: column;

            row-gap: 1rem;

            background-color: #f9f9f9;
            padding: 1rem;
            border-radius: 12px;
            border: 1px solid #ddd;

            .users-form, 
            .resources-form{
                display: flex;
                flex-direction: column;
            }
            

            .field {
                display: flex;
                align-items: center;

                gap: 1rem;

                margin-bottom: 0.75rem;
            }

            label{
                width: 120px;
                font-size: 0.9rem;
                font-weight: 500;
                color: #000;
                text-align: right;    
            }

            input[type="text"],
            input[type="email"],
            input[type="number"]{
                flex: 1;
                padding: 0.5rem 0.75rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 0.95rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                transition: border-color 0.2s, box-shadow 0.2s;
                
                &:focus{
                    border-color: #4a90e2;
                    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4);
                    outline: none;
                }

                &:invalid{
                    border-color: #dc3545;
                }
            }
        }

            .action{
                display: flex;
                justify-content: flex-end;
                gap: 0.75rem;
                margin-top: 1rem;

            }
        }
    }
