<div class="listPage">
  <!--        LISTA
    <div>
        @if (section === 'users') {
        @for(user of users; track user.id ){
        <div>
            <ul>
                <il>
            {{user.first_name}} {{user.last_name}}
        </div>
        <il>
            <ul>
        }
        }
    </div>

    <div>
        @if (section === 'resources') {
        @for(resource of resources; track resource.id){
        <div>
            {{resource.name}}
        </div>
        }
        }
    </div>

</div> -->

  <!--        TABLA           -->
  <table>
    <thead>
      <tr>
        <!-- Aquí se crean los headers-->
        @for (col of columns; track col.key) {
        <th>{{ col.label }}</th>
        }
      </tr>
    </thead>

    <tbody>
      <!-- Aquí se crean las fiilas usando tableData -->
      @for (item of tableData; track $index) {
      <!-- componente nuevo que guardará la id del user/resource para la posterior edición -->
      <tr (click)="item.id">
        <!-- Aquí se crean las celdas dinámicamente -->
        @for (col of columns; track col.key) {
        <td>{{ item[col.key] }}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>